.button {
    appearance: none;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    padding: var(--space-2xs) var(--space-m);
    border-radius: var(--radius-md);
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

    --btn-bg: var(--bg-surface);
    --btn-text: var(--text-primary);
    --btn-border: var(--border-subtle);
    --btn-hover: color-mix(in srgb, var(--btn-bg), black 5%);
    --btn-active: color-mix(in srgb, var(--btn-bg), black 10%);
    --btn-focus: var(--border-focus);

    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
}

.button[data-intent="primary"] {
    --btn-base-color: var(--bg-primary);
    --btn-bg: var(--btn-base-color);
    --btn-text: var(--text-inverse);
    --btn-border: color-mix(in srgb, var(--btn-base-color), black 10%);
    --btn-hover: color-mix(in srgb, var(--btn-base-color), white 13%);
    --btn-active: color-mix(in srgb, var(--btn-base-color), white 23%);
    --btn-focus: color-mix(in srgb, var(--btn-base-color) 50%, transparent);
    --btn-disabled: color-mix(in srgb, var(--btn-base-color), white 20%);
}

.button[data-variant="hollow"] {
    background-color: transparent;
    color: var(--btn-bg);
    border: 1px solid var(--btn-bg);
}

@media (hover: hover) {
    .button:hover:not([data-disabled]) {
        background-color: var(--btn-hover);
    }
    
    .button[data-variant="hollow"]:hover:not([data-disabled]) {
        background-color: color-mix(in srgb, var(--btn-bg) 10%, transparent);
    }
}

.button:active:not([data-disabled]) {
    background-color: var(--btn-active);
    box-shadow: inset 0 1px 3px var(--btn-active);
    border-top-color: var(--btn-border);
}

.button:focus-visible {
    outline: 2px solid var(--btn-focus);
    outline-offset: -1px;
}

.button[data-disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(--btn-disabled, var(--bg-surface));
}