.dashboard {
	container-type: dashboard / inline-size;

	max-width: clamp(19.375rem, 2.625rem + 83.75cqi, 103.125rem);
	margin: auto;
	min-height: 100dvh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
	grid-auto-rows: calc(
		(100cqw - (calc(var(--grid-columns) - 1) * var(--space-s))) / var(--grid-columns)
	);

	gap: var(--space-s);
	grid-auto-flow: dense;
}

.emptyErrorWrapper {
	display: grid;
	place-items: center;

	width: 100%;
	min-height: 60vh;
	padding-inline: var(--space-s);

	text-align: center;
	align-self: center;
}
