.dashboard {
	container-type: dashboard / inline-size;

	--dashboard-width: calc(100vw - 0.5rem);
	width: var(--dashboard-width);
		padding: var(--space-m) var(--space-xs);

	min-height: 100dvh;

	@media screen and (width > 600px){
		padding: var(--space-m) var(--space-xl);
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
	grid-auto-rows: calc(
		(var(--dashboard-width) - (calc(var(--grid-columns) - 1) * var(--space-s))) /
			var(--grid-columns)
	);

	gap: var(--space-s);
	grid-auto-flow: dense;
}

.emptyErrorWrapper {
	display: grid;
	place-items: center;

	width: 100%;
	max-width:800px;

	margin-top: var(--space-3xl);
	margin-inline: auto;

	padding-inline: var(--space-m);

	text-wrap: pretty;
	text-align: center;
	align-items: center;
}
