.widget {
	--edge-font-size: clamp(1.1rem, 5cqi, 2.6rem);
	--edge-width: clamp(1rem, 0.7589rem + 6.4286cqi, 4.375rem);

	container: widget / inline-size;

	position: relative;
	display: flex;

	box-sizing: border-box;
	background-color: var(--bg-surface);

	border-radius: var(--radius-xlg);
}

.edit {
	> :not(.edge, .btnsWrapper) {
		filter: blur(0.03rem) opacity(0.6);
		transition: filter 0.2s ease-in-out;
	}
}

.widget > :not(.edge, .btnsWrapper) {
	width: 100%;
	height: 100%;
	min-height: 0;
	min-width: 0;
}

.edge {
	position: absolute;
	display: grid;
	place-items: center;

	top: 0;
	bottom: 0;
	width: var(--edge-width);

	filter: opacity(0.6);
	cursor: pointer;
	transition:
		scale 0.2s,
		transform 0.3s ease-in-out;

	z-index: 10;

	&.edgeLeft {
		border-radius: var(--radius-xlg) 0 0 var(--radius-xlg);
		left: 0;

		&:hover {
			transform: translateX(-5%);
			transition: transform 0.2s ease-in-out;
		}
	}

	&.edgeRight {
		border-radius: 0 var(--radius-xlg) var(--radius-xlg) 0;
		right: 0;

		&:hover {
			transform: translateX(8%);
			transition: transform 0.2s ease-in-out;
		}
	}

	> span {
		font-size: var(--edge-font-size);
	}
}

.btnsWrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 0.2em;
	inset: 0 var(--edge-width) 0 var(--edge-width);
	z-index: 10;

	@container widget (width < 7.5rem) {
		flex-direction: column;
	}
}

.editBtn,
.removeBtn {
	width: clamp(1rem, 0.8974rem + 6.5641cqi, 5rem);
	flex-shrink: 0;
	padding: var(--space-3xs);
	color: var(--white);
	filter: opacity(0.8);
	transition: scale 0.2s;

	&:hover {
		scale: 1.05;
	}

	> svg {
		height: 100%;
		width: 100%;
	}
}

.editForm{
	display: none;
}
