/* =========================================
   COMPOSITIONS
   Macro-layouts for managing the flow of blocks
========================================= */

/* 
  For vertical rhythm and spacing
*/
.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--gap, var(--space-m, 1rem));
}

/* 
  For grouping items horizontally that wrap gracefully
*/
.cluster {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap, var(--space-s, 0.5rem));
}

/*
  For pushing items to opposite ends (e.g., Logo & Nav)
*/
.repel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: var(--gap, var(--space-m, 1rem));
}

/* 
  For responsive grids without media queries
*/
.auto-grid {
	display: grid;
	gap: var(--gap, var(--space-m, 1rem));
	grid-template-columns: repeat(
		auto-fill,
		minmax(min(var(--grid-min, 300px), 100%), 1fr)
	);
}

/* Breakout styling */
:root {
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(0.9375rem, 0.394rem + 2.7174vw, 2.5rem));
  --grid-columns: 12;
}

.canvas-breakout {
  display: grid;
  
  grid-template-columns:
    [full-width-start] 
        minmax(var(--grid-gutter), 1fr) 
        
    [content-start] 
        min(100% - (var(--grid-gutter) * 2), var(--grid-max-width)) 
        
    [content-end] 
        minmax(var(--grid-gutter), 1fr) 
    [full-width-end];
}

.canvas > * {
  grid-column: content;
}

.grid-breakout {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: var(--grid-gutter);
}
