/* =========================================
   COMPOSITIONS
   Macro-layouts for managing the flow of blocks
========================================= */

/* 
  For vertical rhythm and spacing
*/
.stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--gap, var(--space-m, 1rem));
}

/* 
  For grouping items horizontally that wrap gracefully
*/
.cluster {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--gap, var(--space-s, 0.5rem));
}

/*
  For pushing items to opposite ends (e.g., Logo & Nav)
*/
.repel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: var(--gap, var(--space-m, 1rem));
}

/* 
  For responsive grids without media queries
*/
.auto-grid {
	display: grid;
	gap: var(--gap, var(--space-m, 1rem));
	grid-template-columns: repeat(
		auto-fill,
		minmax(min(var(--grid-min, 300px), 100%), 1fr)
	);
}

/* @link https://utopia.fyi/grid/calculator?c=320,15,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--breakout-grid-max-width: 192rem;
	--breakout-grid-gutter: var(
		--space-s-l,
		clamp(0.9375rem, 0.394rem + 2.7174vw, 2.5rem)
	);
	--breakout-grid-columns: 12;
}

.canvas-breakout {
  container: canvas / inline-size;
	display: grid;

	grid-template-columns:
		[full-width-start]
		minmax(var(--breakout-grid-gutter), 1fr)
		[content-start]
		min(calc(100% - (var(--breakout-grid-gutter) * 2)), var(--breakout-grid-max-width))
		[content-end]
		minmax(var(--breakout-grid-gutter), 1fr)
		[full-width-end];
}

.canvas-breakout > * {
	grid-column: content; 
	min-width: 0; 
}

.grid-breakout {
  container: grid-breakout / inline-size;
	display: grid;
	grid-template-columns: repeat(var(--breakout-grid-columns), 1fr);
	gap: var(--breakout-grid-gutter);
}
