/* Base Styling */
.cardImage {
	display: flex;
}

.title,
.content {
	overflow: hidden;
}

.title{
	font-size: clamp(0.4375rem, 0.4103rem + 2.906cqi, 1.5rem);
	color: var(--blue);
}

.content {
	font-size: clamp(0.3646rem, 0.3432rem + 2.2849cqi, 1.2rem);
	color: var(--blue);
	font-weight: 400;
	margin: 0;
}

.contentWrapper {
	container-type: inline-size;
	padding: var(--internal-padding);
}

img {
	display: block;

	width: 100%;
	height: 100%;
	border-radius: var(--radius-lg);

	object-fit: cover;
}

/* Variant styling */
.frostedGlass{
	background-color: var(--bg-surface);
}

/* Direction styling */

.column {
	flex-direction: column;

	> .imageWrapper {
		flex: 2;
		width: 100%;
		padding: var(--space-2xs);
		padding-bottom: 0;
		min-height: 0;
	}

	.contentWrapper {
		flex: 1;
		padding: var(--space-2xs);
		padding-left: var(--space-xs);
		min-height: 0;
		overflow: hidden;
	}
}

.row {
	flex-direction: row;

	> .imageWrapper {
		flex: 2;
		height: 100%;
		padding: var(--space-2xs);
		min-width: 0;
	}

	.contentWrapper {
		flex: 1;
		padding: var(--space-2xs);
		padding-left: 0;

		min-width: 0;
		overflow: hidden;
	}
}